@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Barlow:wght@300;400;600;700;900&display=swap');
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --bg: #09090b;
  --bg2: #111113;
  --bg3: #18181b;
  --acc: #e11d48;
  --acc2: #f59e0b;
  --acc3: #a78bfa;
  --txt: #d4d4d8;
  --muted: #52525b;
  --border: rgba(225, 29, 72, 0.1);
  --mono: 'Space Mono', monospace;
  --body: 'Barlow', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--txt);
  font-family: var(--body);
}